/* 
    Nombre estudiante: Germán A. Riveros Sepúlveda.
    Generación: 14.
    Jornada: Vespertina.   
    Desafío: Blog FrontEnd.
    Enlace del repositorio: https://github.com/german-rs/BlogFrontEnd 
*/


/* Configuraciones generales. */

/* Tipografía o fuente */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body *{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    color: var(--textos);
}

/* Colores. */
:root {
    --black: #000000;
    --vermilion: #E93E30;
    --aureolin: #F7E018;
    --celestial-blue: #299ed5;
    --gunmetal: #292C33;
    --mantis: #67C770;
    --eminence: #563D7C;
    --textos: #171717;
    --texto-categoria: #FFFFFF;
}

.caja-flexible{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* Fin configuraciones generales. */


/* Nav. */
.navegacion{
    width: 100%;
    margin-bottom: 3rem;
}


/* Novedades. */
.novedades{
    margin-bottom: 3rem;
}

.novedad-principal__titulo{
    font-size: 28px; 
    font-weight: 700;
}

.novedad-principal__imagen{
    max-width: 600px;
    height: auto;
    border-radius: 20px;
}

@media (max-width: 700px) {
    .novedad__imagen{
        max-width: 450px;
    }
}

.novedad-principal__subtitulo{
    font-size: 24px;
    font-weight: 700;
}

.novedades-lateral{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.novedades-lateral__articulo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.novedades-lateral__imagen{
    width: 190px;
    border-radius: 20px;
}
/* Novedades. */


/* Sección popular. */
.principal{
    gap: 10px;
    margin-bottom: 3rem;
}

.popular{
    width: 705px;
}

.popular__titulo{
    margin-bottom: 30px;
    font-size: 28px; 
    font-weight: 700;
}

.popular__articulos{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.popular__articulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular__imagen{
    width: 298px;
    height: 200px;
    border-radius: 20px;
}


/* Categorias. */
.categoria{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.categoria__titulo{
    font-size: 28px; 
    font-weight: 700;
    color: var(--textos);
}

.categoria__texto--final{
    font-size: 20px;
    font-weight: 400;
}

.categoria__item{
    width: 298px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.categoria__item--html{
    background-color: var(--vermilion);
}
.categoria__item--js{
    background-color: var(--aureolin);
}
.categoria__item--css{
    background-color: var(--celestial-blue);
}
.categoria__item--react{
    background-color: var(--gunmetal);
}
.categoria__item--vue{
    background-color: var(--mantis);
}
.categoria__item--bootstrap{
    background-color: var(--eminence);
}

.categoria__imagen{
    width: 85px;
    height: 74px;
}

.categoria__texto{
    color: var(--texto-categoria);
    font-size: 32px;
    font-weight: 700;
}
/* Fin categorias. */


/* Footer. */
.pie{
    align-items: center;
}

.pie__texto{
    font-size: 20px;
    font-weight: 400;
}
/* Fin footer. */


/* Componentes reutilizables. */

/* Textos. */
.fecha__texto{
    font-size: 18px;
    font-weight: 400;
}

.cuerpo__titulo{
    font-size: 20px;
    font-weight: 700;
}
/* Fin textos. */

/* Logotipo.  */
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}

.logo__imagen{
    width: 55px;
    border-radius: 15px;
}

.logo__texto{
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: var(--textos);
}
/* Fin Logotipo.  */


/* Autor de las entradas. */
.autor{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;
   padding: 10px 0;
}

.autor__imagen{
    width: 40px;
    height: auto;
    border-radius: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); 
}

.autor__texto{
    font-size: 16px;
    font-weight: 500;
}

.autor__imagen--principal{
    width: 60px;
    height: auto;
    border-radius: 100%;
}

.autor__texto--principal{
    font-size: 24px;
    font-weight: 500;
}
/* Fin componentes reutilizables. */


/* Contenedor. */
.contenedor {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* xs */
@media (min-width: 475px) {
    .contenedor {
        max-width: 475px;
    }
}

/* sm. */
@media (min-width: 640px) {
    .contenedor {
        max-width: 640px;
    }
}

/* md. */
@media (min-width: 768px) {
    .contenedor {
        max-width: 768px;
    }
}

/* lg. */
@media (min-width: 1024px) {
    .contenedor {
        max-width: 1024px;
    }
}

/* xl. */
@media (min-width: 1280px) {
    .contenedor {
        max-width: 1280px;
    }
}